@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px
}

/* Track */
::-webkit-scrollbar-track {
    background: #cccccc;
    border-radius: 5px;


}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #505050;
    border-radius: 5px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #757575;
}